{
  "swagger": "2.0",
  "info": {
    "description": "<p>This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication > /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b> fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a href=\"https://github.com/ringcentral\" target=\"_blank\">RingCentral SDKs on Github</a></li><li><a href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>",
    "version": "1.0",
    "title": "RingCentral Connect Platform API Explorer",
    "termsOfService": "https://developer.ringcentral.com"
    },
  "host": "platform.devtest.ringcentral.com",
  "basePath": "/restapi",
  "tags": [
    {
      "name": "OAuth2",
      "description": ""
    },
    
    {
      "name": "OAuth 2.0 Authorization & Authentication"
    },
    {
      "name": "API Versions"
    },
    {
      "name": "Account"
    },
    {
      "name": "Extension"
    },
    {
      "name": "Call Log"
    },
    {
      "name": "Forwarding Numbers"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Presence"
    },
    {
      "name": "RingOut"
    },
    {
      "name": "Client Application"
    },
    {
      "name": "Dictionary"
    },
    {
      "name": "Phone Number Parser"
    },
    {
      "name": "Push Notifications"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/oauth/token": {
    "post": {
    "tags": [ "Authentication" ],
    "summary": "Get Token",
    "description": "<p>This endpoint supports two flows:</p><p> <h3>1) Resource Owner Password Credentials Flow:</h3> Issues new access and refresh tokens. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following paramters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) username</b> </li> <li> <b>4) password</b> </li> </ul><p> This flow can use all the parameters below except for the <b>refresh_token</b> parameter which is used for the Refresh Token Flow decribed below. Since 1.0.4 (Release 5.13) </p><p> <h3>2) Refresh Token Flow:</h3> Issues new access and refresh tokens by previously issued refresh token. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following parameters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) refresh_token</b> </li> </ul><p> The only formData paramter used for this flow is the <b>refresh_token</b> parameter. Since 1.0.4 (Release 5.13) </p>",
    "consumes": [ "application/x-www-form-urlencoded" ],
    "produces": [ "application/json", "application/xml" ],
    "parameters": [
      {
        "name": "app_key",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "app_secret",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "username",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>Phone number linked to account or extension in account in E.164 format with or without leading \"+\" sign</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "password",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>User's password</b>",
        "required": false,
        "allowMultiple": false,
        "format": "password"
      },
      {
        "name": "extension",
        "type": "string",
        "in": "formData",
        "description": "Optional. Extension short number. If company number is specified as a username, and \"extension\" is not specified, the server will attempt to authenticate client as main company administrator",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "grant_type",
        "default": "password",
        "type": "string",
        "in": "formData",
        "description": "<b>Must hold \"password\" value for Resource Owner Credentials flow</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "access_token_ttl",
        "in": "formData",
        "description": "Optional. Access token lifetime in seconds; the possible values are from 600 sec (10 min) to 3600 sec (1 hour). The default value is 3600 sec. If the value specified exceeds the default one, the default value is set. If the value specified is less than 600 seconds, the minimum value (600 sec) is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "refresh_token_ttl",
        "in": "formData",
        "description": "Optional. Refresh token lifetime in seconds; default is 604800 sec (1 week). If the value specified exceeds the default one, the default value is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "scope",
        "type": "string",
        "default": "",
        "description": "List of API permissions to be used with access token. Can be omitted when requesting all permissions defined during the application registration phase",
        "in": "formData"
      },
      {
        "name": "refresh_token",
        "type": "string",
        "default": "",
        "description": "Previously issued refresh token. This is the only formData field used for the Refresh Token Flow. It is not used for the Resource Owner Password Credentials Flow",
        "in": "formData"
      }
    ],
    "responses": {
      "400": {
        "description": "<ul> <li>1) invalid_request: Unsupported grant type</li> <li>2) invalid_client: Bad Application Release Status: Blocked</li> </ul>"
      },
      "415": {
        "description": "Unsupported Media Type"
      },
      "429": {
        "description": "Request rate exceeded"
      }
      }
    }
    },
    "/oauth/revoke": {
      "post": {
        "tags": [ "Authentication" ],
        "summary": "Revoke Token",
        "description": "Since 1.0.5 (Release 5.14)Revokes access/refresh token. Requests to this endpoint <b>must</b> be authenticated with HTTP Basic scheme using the application key and application secret as login and password, correspondingly. ",
        "consumes": [ "application/x-www-form-urlencoded" ],
        "parameters": [
          {
            "name": "app_key",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "app_secret",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "token",
            "type": "string",
            "in": "formData",
            "description": "Active access or refresh token to be revoked",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },

    
    "/" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get API Versions",
          "operationId": "",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version(s) and server info.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/Versions"
              }
            }
          }
      }},
    "/{apiVersion}" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get Version Info",
          "operationId": "",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version info by apiVersion.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "apiVersion",
              "type": "string",
              "in": "path",
              "description": "API version to be requested, for example 'v1.0'",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/Version"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Info",
          "operationId": "loadAccount",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular RingCentral customer account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/business-address" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Business Address",
          "operationId": "loadAccountBusinessAddress",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns the business address of account company.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/phone-number" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Phone Numbers",
          "operationId": "listAccountPhoneNumbers",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of phone numbers assigned to the RingCentral customer account. Both company-level and extension-level numbers are returned.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "usageType",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["MainCompanyNumber","AdditionalCompanyNumber","CompanyNumber","DirectNumber","CompanyFaxNumber","ForwardedNumber"],
              
              "in": "query",
              "description": "Usage type of the phone number",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountPhoneNumbers"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/phone-number/{phoneNumberId}" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Phone Number(s) by ID",
          "operationId": "loadAccountPhoneNumber",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "phoneNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a phone number",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PhoneNumberInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension List",
          "operationId": "listExtensions",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns the list of extensions created for a particular account. All types of extensions are included in this list.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            },
            {
              "name": "status",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Enabled","Disabled","NotActivated","Unassigned"],
              
              "in": "query",
              "description": "Extension current state. Multiple values are supported. If 'Unassigned' is specified, then extensions without extensionNumber are returned. If not specified, then all extensions are returned",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["User","FaxUser","VirtualUser","DigitalUser","Department","Announcement","Voicemail","SharedLinesGroup","PagingOnlyGroup","IvrMenu","ApplicationExtension","ParkLocation"],
              
              "in": "query",
              "description": "Extension type. Multiple values are supported",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Info",
          "operationId": "loadExtensionInfo",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular extension of an account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/phone-number" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Phone Number List",
          "operationId": "listExtensionPhoneNumbers",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of phone numbers that are used by a particular extension, and can be filtered by the phone number type. The returned list contains all numbers which are directly mapped to a given extension plus the features and also company-level numbers which may be used when performing different operations on behalf of this extension.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "usageType",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["MainCompanyNumber","AdditionalCompanyNumber","CompanyNumber","DirectNumber","CompanyFaxNumber","ForwardedNumber"],
              
              "in": "query",
              "description": "Usage type of the phone number",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionPhoneNumbers"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/profile-image" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Profile Image",
          "operationId": "loadExtensionProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Returns the extension profile image.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"post" : {
          "tags": [ "Extension" ],
          "summary": "Create Extension Profile Image",
          "operationId": "createExtensionProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Returns the extension profile image.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>High</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"put" : {
          "tags": [ "Extension" ],
          "summary": "Update Extension Profile Image",
          "operationId": "updateExtensionProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Updates the extension profile image.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>High</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/profile-image/{scaleSize}" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Profile Image",
          "operationId": "loadExtensionScaledProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Returns the scaled profile image of an extension.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "scaleSize",
              "type": "string",
              "in": "path",
              "description": "Optional. Dimensions of a profile image which will be returned in response. The possible values are '90x90'/ '195x195' / '584x584'",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/active-calls" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Active Calls",
          "operationId": "listExtensionActiveCalls",
          "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all extension calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "direction",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are supported",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are supported",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionActiveCalls"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Records by Filter",
          "operationId": "loadExtensionCallLog",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns filtered call log records.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionNumber",
              "type": "string",
              
              "in": "query",
              "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",
              
              "in": "query",
              "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              
              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are supported",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],
              
              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are supported",
              "required": false
            },
            {
              "name": "view",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Simple","Detailed"],
              
              "in": "query",
              "description": "The default value is 'Simple' for both account and extension call log",
              "required": false
            },
            {
              "name": "withRecording",
              "type": "boolean",
              
              "in": "query",
              "description": "'True' if only recorded calls have to be returned. The default value is 'False'",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "string",
              "format": "date-time",
              "in": "query",
              "description": "The end datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "string",
              "format": "date-time",
              "in": "query",
              "description": "The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionCallLog"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Extension Call Log Record(s) by ID",
          "operationId": "loadExtensionCallLogRecord",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log record(s) by their ID(s). Batch request is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "callRecordId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a call log record",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionCallLogRecord"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/recording/{recordingId}" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Recording",
          "operationId": "loadCallRecordingMetadata",
          "description": "<p style='font-style:italic;'>Since 1.0.18</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "recordingId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a recording (returned in Call Log)",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CallRecording"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/recording/{recordingId}/content" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Recording Data",
          "operationId": "loadCallRecordingContent",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "recordingId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a call recording, see Recording Info",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/forwarding-number" : {

    "get" : {
          "tags": [ "Forwarding Numbers" ],
          "summary": "Get Extension Forwarding Number List",
          "operationId": "listExtensionForwardingNumbers",
          "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the list of extension phone numbers used for call forwarding and call flip. The returned list contains all the extension phone numbers that are used for call forwarding and call flip.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionForwardingNumberList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/company-pager" : {

    "post" : {
          "tags": [ "Messages" ],
          "summary": "Create Pager Message",
          "operationId": "sendInternalMessage",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends a pager message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>InternalMessages</td><td>Sending and receiving intra-company text messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreatePagerMessageRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PagerMessageInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/fax" : {

                "post": {
                "tags": [ "Messages" ],
                "summary": "Create Fax Message",
                "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends/resends new fax message. Resend can be done if sending failed.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Faxes</td><td>Sending and receiving faxes</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
                "consumes" : [
                    "multipart/mixed; boundary=Boundary_1_14413901_1361871080888"
                ],
                "produces" : [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Internal identifier of a RingCentral account (integer) or tilde (~) to indicate the account which was logged-in within the current session.",
                        "notes": "",
                        "paramType": "path",
                        "defaultValue": "~",
                        "required": true,
                        "allowMultiple": false,
                        "type": "string"
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "Internal identifier of an extension (integer) or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
                        "notes": "",
                        "paramType": "path",
                        "defaultValue": "~",
                        "required": true,
                        "allowMultiple": false,
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "default": "multipart/mixed; boundary=Boundary_1_14413901_1361871080888",
                        "type": "string",
                        "description": "This form fills out this required field automatically using the example MIME boundary string."
                    },
                    {
                        "name": "Content-Length",
                        "in": "header",
                        "default": "",
                        "description": "Actual content length. This form fills out this required field automatically.",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "consumes": [ "multipart/mixed; boundary=Boundary_1_14413901_1361871080888" ],
                        "default": "--Boundary_1_14413901_1361871080888\nContent-Type: application/json\n\n{\n  \"to\":[{\"phoneNumber\":\"18005630003\"}],\n  \"faxResolution\":\"High\",\n  \"sendTime\":\"2013-02-26T09:31:20.882Z\"\n}\n\n--Boundary_1_14413901_1361871080888\nContent-Type: text/plain\n\nHello, World!\n\n--Boundary_1_14413901_1361871080888--",
                        "type": "string",
                        "description": "Multi-part MIME consisting of one part JSON body and one part text. For the MIME boundary, in this UI, use \"Boundary_1_14413901_1361871080888\". JSON body values: <table class=\"tabular-description\"><tr class=\"first property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">to</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">Contact Info object</td></tr><tr class=\"last property row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Recipient information. <b>phoneNumber</b> property is mandatory</td></tr><tr class=\"first property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">resolution</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\"><select><option>High</option><option>Low</option></select></td></tr><tr class=\"last property row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Fax resolution</td></tr><tr class=\"first property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">sendTime</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">datetime</td></tr><tr class=\"last property row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Optional. Timestamp to send fax at. If not specified (current or the past),the faxissent immediately</td></tr><tr class=\"first property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">coverIndex</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">Integer (0-13)<br><select><option>0 (none - no cover page)</option><option>1 (\"Ancient\" cover page)</option><option>2 (\"Birthday\" cover page)</option><option>3 (\"Blank\" cover page)</option><option>4 (\"Clasmod\" cover page)</option><option>5 (\"Classic\" cover page)</option><option>6 (\"Confidential\" cover page)</option><option>7 (\"Contempo\" cover page)</option><option>8 (\"Elegant\" cover page)</option><option>9 (\"Express\" cover page)</option><option>10 (\"Formal\" cover page)</option><option>11 (\"Jazzy\" cover page)</option><option>12 (\"Modern\" cover page)</option><option>13 (\"Urgent\" cover page)</option></select></td></tr><tr class=\"last property row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Optional. Cover page index. If not specified, the default coverpagewhichisconfigured in \"Outbound FaxSettings\" is attached. See also \"Available Cover Pages\" tablebelow</td></tr><tr class=\"first property row\" style=\"border-top: 1px solid #e8e8e8\"><td class=\"property-name\">Property</td><td class=\"property-value\">coverPageText</td></tr><tr class=\"row\"><td class=\"property-name\">Data type</td><td class=\"property-value\">string</td></tr><tr class=\"last property row\"><td class=\"property-name\">Description</td><td class=\"property-value\">Optional. Cover page text, entered by the fax sender and printed on thecoverpage.Maximum length is limited to 1024 symbols</td></tr></table>"
                    }
                ]
            }
        },
    "/v1.0/account/{accountId}/extension/{extensionId}/sms" : {

    "post" : {
          "tags": [ "Messages" ],
          "summary": "Create SMS Message",
          "operationId": "sendSMS",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends new SMS message. Sending SMS messages simultaneously to different recipients is limited up to 50 requests per minute; relevant for all client applications.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>SMS</td><td>Sending and receiving SMS (text) messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreateSMSMessage"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/SMSMessageInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message List",
          "operationId": "listMessages",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of messages from an extension mailbox.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "availability",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Alive","Deleted","Purged"],
              
              "in": "query",
              "description": "Specifies the availability status for the resulting messages. Default value is 'Alive'. Multiple values are supported",
              "required": false
            },
            {
              "name": "conversationId",
              "type": "string",
              
              "in": "query",
              "description": "Specifies the conversation identifier for the resulting messages",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "string",
              "format": "date-time",
              "in": "query",
              "description": "The start datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "string",
              "format": "date-time",
              "in": "query",
              "description": "The end datetime for resulting messages in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],
              
              "in": "query",
              "description": "The direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are supported",
              "required": false
            },
            {
              "name": "distinctConversations",
              "type": "boolean",
              
              "in": "query",
              "description": "If 'True', then the latest messages per every conversation ID are returned",
              "required": false
            },
            {
              "name": "messageType",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Fax","SMS","VoiceMail","Pager","Text"],
              
              "in": "query",
              "description": "The type of the resulting messages. If not specified, all messages without message type filtering are returned. Multiple values are supported",
              "required": false
            },
            {
              "name": "readStatus",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Read","Unread"],
              
              "in": "query",
              "description": "The read status for the resulting messages. Multiple values are supported",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",
              
              "in": "query",
              "description": "The phone number. If specified, messages are returned for this particular phone number only",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/MessageList"
              }
            }
          }
      },"delete" : {
          "tags": [ "Messages" ],
          "summary": "Delete Conversation(s) by ID",
          "operationId": "deleteConversation",
          "description": "<p style='font-style:italic;'></p><p>Deletes conversation(s) by conversation ID(s). Batch request is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "conversationId",
              "type": "string",
              
              "in": "query",
              "description": "Identifier of a conversation. Multiple values are supported",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message(s) by ID",
          "operationId": "loadMessage",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns individual message record(s) by the given message ID(s). The length of inbound messages is unlimited. Batch request is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "integer",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/MessageInfo"
              }
            }
          }
      },"put" : {
          "tags": [ "Messages" ],
          "summary": "Update Message(s) by ID",
          "operationId": "updateMessage",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Updates message(s) by ID(s). Batch request is supported. Currently, only the message read status updating is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/UpdateMessageRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/MessageInfo"
              }
            }
          }
      },"delete" : {
          "tags": [ "Messages" ],
          "summary": "Delete Message(s) by ID",
          "operationId": "deleteMessage",
          "description": "<p style='font-style:italic;'></p><p>Deletes message(s) by the given message ID(s). The first call of this method transfers the message to the 'Delete' status. The second call transfers the deleted message to the 'Purged' status. If it is required to make the message 'Purged' immediately (from the first call), then set the query parameter purge to 'True'. Batch request is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "messageId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            },
            {
              "name": "purge",
              "type": "boolean",
              
              "in": "query",
              "description": "If the value is 'True', then the message is purged immediately with all the attachments. The default value is 'False'",
              "required": false
            },
            {
              "name": "conversationId",
              "type": "string",
              
              "in": "query",
              "description": "Internal identifier of a message thread",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}" : {

    "get" : {
          "tags": [ "Messages" ],
          "summary": "Get Message Attachment",
          "operationId": "loadMessageAttachment",
          "description": "<p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns particular message attachment data as a media stream.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "attachmentId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a message attachment",              
              "required": true
            },
            {
              "name": "messageId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a message",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/presence" : {

    "get" : {
          "tags": [ "Presence" ],
          "summary": "Get Extension(s) Presence Status by ID",
          "operationId": "getExtensionPresenceStatus",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns presence status of an extension or several extensions by their ID(s). Batch request is supported.The presenceStatus is returned as Offline (the parameters telephonyStatus, message, userStatus and dndStatus are not returned at all) for the following extension types: Department/Announcement Only/Take Messages Only (Voicemail)/Fax User/Paging Only Group/Shared Lines Group/IVR Menu/Application Extension/Park Location.If the user requests his/her own presence status, the response contains actual presence status even if the status publication is turned off.Batch request is supported. For batch requests the number of extensions in one request is limited to 30. If more extensions are included in the request, the error code 400 Bad Request is returned with the logical error code InvalidMultipartRequest and the corresponding message 'Extension Presence Info multipart request is limited to 30 extensions'.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadPresence</td><td>Getting user presence information</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionPresenceInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/ringout" : {

    "post" : {
          "tags": [ "RingOut" ],
          "summary": "Make RingOut Call",
          "operationId": "makeRingOutCall",
          "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Makes a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/MakeRingOutRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/RingOutStatus"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}" : {

    "get" : {
          "tags": [ "RingOut" ],
          "summary": "Get Status of RingOut Call",
          "operationId": "getRingOutCallStatus",
          "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "ringoutId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingOut call",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/RingOutStatus"
              }
            }
          }
      },"delete" : {
          "tags": [ "RingOut" ],
          "summary": "Cancel RingOut Call",
          "operationId": "cancelRingOutCall",
          "description": "<p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",              
              "required": true,
              "default": "~"
            },
            {
              "name": "ringoutId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingOut call",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/client-info/sip-provision" : {

    "post" : {
          "tags": [ "Client Application" ],
          "summary": "Create SIP Registration",
          "operationId": "createSipRegistration",
          "description": "<p style='font-style:italic;'>Since 1.0.16 (Release 7.1)</p><p>Creates SIP registration of a device/application:</p><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreateSipRegistrationRequest"
              },
              "required": true
            }
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/SipRegistration"
              }
            }
          }
      }},
    "/v1.0/dictionary/country" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Country List",
          "operationId": "listCountries",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all the countries available for calling.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "loginAllowed",
              "type": "boolean",
              
              "in": "query",
              "description": "Specifies whether login with the phone numbers of this country is enabled or not",
              "required": false
            },
            {
              "name": "numberSelling",
              "type": "boolean",
              
              "in": "query",
              "description": "Specifies if RingCentral sells phone numbers of this country",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "freeSoftphoneLine",
              "type": "boolean",
              
              "in": "query",
              "description": "Specifies if free phone line for softphone is available for a country or not",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CountryList"
              }
            }
          }
      }},
    "/v1.0/dictionary/country/{countryId}" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Country by ID",
          "operationId": "loadCountry",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns the information on the required country.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "countryId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a country",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DictionaryCountryInfo"
              }
            }
          }
      }},
    "/v1.0/dictionary/fax-cover-page" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Fax Cover Page List",
          "operationId": "listFaxCoverPages",
          "description": "<p style='font-style:italic;'>Since 8.2 (Release 1.0.26)</p><p>Returns fax cover pages available for the current extension.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DictionaryFaxCoverPages"
              }
            }
          }
      }},
    "/v1.0/dictionary/language" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Language List",
          "operationId": "listLanguages",
          "description": "<p style='font-style:italic;'>Since 1.0.14 (Release 6.6)</p><p>Returns the information about supported languages.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/LanguageList"
              }
            }
          }
      }},
    "/v1.0/dictionary/language/{languageId}" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Language by ID",
          "operationId": "loadLanguage",
          "description": "<p style='font-style:italic;'>Since 1.0.14 (Release 6.6)</p><p>Returns language by its respective ID.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "languageId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a language",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/LanguageInfo"
              }
            }
          }
      }},
    "/v1.0/dictionary/location" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Location List",
          "operationId": "listLocations",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all the available locations for the certain state.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "orderBy",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Npa","City"],
              
              "in": "query",
              "description": "Sorts results by the specified property. The default value is 'City'",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            },
            {
              "name": "stateId",
              "type": "string",
              
              "in": "query",
              "description": "Internal identifier of a state",
              "required": false
            },
            {
              "name": "withNxx",
              "type": "boolean",
              
              "in": "query",
              "description": "Specifies if nxx codes are returned",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DictionaryLocationList"
              }
            }
          }
      }},
    "/v1.0/dictionary/state" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get State List",
          "operationId": "loadlistStates",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all the states for a certain country.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "countryId",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Internal identifier of a country",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "withPhoneNumbers",
              "type": "boolean",
              
              "in": "query",
              "description": "If 'True', the list of states with phone numbers available for buying is returned. The default value is 'False'",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DictionaryStateList"
              }
            }
          }
      }},
    "/v1.0/dictionary/state/{stateId}" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get State by ID",
          "operationId": "loadState",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns the information on the required state.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "stateId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a state",              
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DictionaryStateInfo"
              }
            }
          }
      }},
    "/v1.0/dictionary/timezone" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Timezone List",
          "operationId": "listTimezones",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all available timezones.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "page",
              "type": "string",
              
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "string",
              
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DictionaryTimezoneList"
              }
            }
          }
      }},
    "/v1.0/dictionary/timezone/{timezoneId}" : {

    "get" : {
          "tags": [ "Dictionary" ],
          "summary": "Get Timezone by ID",
          "operationId": "loadTimezone",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns the information on a certain timezone.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            
            {
              "name": "timezoneId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a timezone",              
              "required": true
            },
            {
              "name": "page",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
              "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DictionaryTimezoneInfo"
              }
            }
          }
      }},
    "/v1.0/number-parser/phonedata.xml" : {

    "get" : {
          "tags": [ "Phone Number Parser" ],
          "summary": "Get Phonedata",
          "operationId": "loadPhoneData",
          "description": "<p style='font-style:italic;'>Since 1.0.12 (Release 6.4)</p><p>Returns configuration settings for phone number parser in a phonedata.xml file.</p><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
[...]
